<a href="https://colab.research.google.com/github/AllaRudenkoGit/MyStudying/blob/main/1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ввод числа с клавиатуры
number = int(input("Укажите команду: "))

# Вывод числа на экран
print("Вы ввели число:", number)

Укажите команду: 20
Вы ввели число: 20

In [ ]:
# Массив из 10 чисел и получение элемента по индексу. Индекс считается с 0

my_array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 2]
element_at_index_5 = my_array[5]
print("Элемент по 5 индексу:", element_at_index_5)

Элемент по 5 индексу: 6

In [ ]:
# Словарь Страна:Столица

countries_and_capitals = {
    "Россия" : "Москва",
    "Франция": "Париж",
    "Япония": "Токио",
    "Германия": "Берлин",
    "Канада": "Оттава"
}

capital_of_france = countries_and_capitals["Франция"]
print("Столица Франции:", capital_of_france)

Столица Франции: Париж

In [ ]:
#Кортеж- коллекция неизменяеммых данных
my_tuple = (1, 2, "hello", 3.14)
my_tuple[0]

1

In [ ]:
#При попытке изменить элемент кортежа появляется ошибка
my_tuple[0]=2

TypeError: 'tuple' object does not support item assignment

In [ ]:


# Пример логического выражения с использованием оператора сравнения
x = 10
y = 5

if x > y:
  print("x больше y")


# Пример логического выражения с использованием оператора равенства
a = 5
b = 5

if a == b:
  print("a равно b")


# Пример логического выражения с использованием оператора неравенства
c = 10
d = 20

if c != d:
  print("c не равно d")


# Пример логического выражения с использованием оператора and
age = 25
is_student = True

if age > 18 and is_student:
  print("Вы студент старше 18 лет")


# Пример логического выражения с использованием оператора or
weather = "солнечно"
temperature = 25

if weather == "солнечно" or temperature > 20:
  print("Хорошая погода")


# Пример логического выражения с использованием оператора not
is_raining = False

if not is_raining:
  print("Не идет дождь")


#Пример else, elif
if x > y:
  print("x больше y")
elif x < y:
  print("x меньше y")
else:
  print("x равно y")

x больше y
a равно b
c не равно d
Вы студент старше 18 лет
Хорошая погода
Не идет дождь
x больше y

In [ ]:


# Цикл for для перебора элементов списка
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number)


# Цикл while для выполнения действий до тех пор, пока условие истинно
count = 0
while count < 5:
  print(count)
  count += 1


# Цикл for с использованием функции range для генерации последовательности чисел
for i in range(1, 6):
  print(i)

1
2
3
4
5
0
1
2
3
4
1
2
3
4
5

In [ ]:


def add(x, y):
  """Сложение двух чисел."""
  return x + y

def subtract(x, y):
  """Вычитание двух чисел."""
  return x - y

def multiply(x, y):
  """Умножение двух чисел."""
  return x * y

def divide(x, y):
  """Деление двух чисел."""
  if y == 0:
    return "Деление на ноль!"
  return x / y

def power(x, y):
  """Возведение числа в степень."""
  return x ** y

def square_root(x):
  """Вычисление квадратного корня."""
  if x < 0:
    return "Квадратный корень из отрицательного числа не существует!"
  return x ** 0.5

In [ ]:
power(5, 4)

625